.App {
  text-align: center;
}

#raceInfo{
  display:flex;
  text-align:center;
}

#primaryRaceInfo{
  background-color:green;
  border-style:solid;
}

#secondaryRaceInfo{
  background-color:blue;
}

#proficiencies{
  text-align:center;
  display:flex;
  flex-wrap: wrap;
  width:100%;
}

#proficiencies0 > div{
  background-color:blue;
  display:flex;
  width:50%;
}

#primaryPro{
  background-color:green;
}

.title{
  display:grid;
}