/* FULL PAGE */
.App{
    text-align:center;
}
body{
    background-color: #1E1E1E;
}
* input[type=number]{
    width:32px;
}
* strong, h2, h3{
    color:#FFD700;
}
#outerParent{
    display:flex;
    justify-content:center;
    position:relative;
}
#nav_bar{
    color:white;
}

/* MISC */
#name,
#race,
#raceInfo,
#class,
#classFeatures,
#proInfo,
#spellcasting,
#equip,
#stats,
#savingThrows,
#combat,
#skills{
    border-style:solid;
    border-color:#FFD700;
    background-color:#2E2E2E;
    color:white;
    width:700px;
    /* margin:10px 10px 15px 10px; */
    padding:3px;
    border-radius:15px;
    /* display:flex; */
    justify-content:space-between;
    box-shadow:5px 5px #AAAAAA;
    margin:10px;
    position:relative;
    perspective:200px;
}
.infoCard{
    position:absolute;
    width:400px;
    border-style:groove;
    border-radius:15px;
    border-color:#FFD700;
    background-color:#1E1E1E;
    color:white;
    transform: translate(100%, -100%);
    z-index:99;
    padding:15px;
}
/* RACE/CLASS */
#raceSet,
#primaryClassList{
    width:150px;
    color:black;
}
#race_class{
    display:flex;
    width:95%;
    justify-content:center;
}

/* RACE */
#raceInfo{
    display:flex;
    /* background-color:#001480; */
    /* display:inline-block; */
    /* overflow:auto; */
    justify-content:center;
    width:95%;
    margin-left:10px;
    box-shadow:none;
    border-style:dashed;
}
#raceInfoInner{
    margin:10px;
    /* width:100%; */
    /* align-content:center; */
}
#raceInfoInner p{
    /* border-style:groove; */
    border-radius:15px;
    /* margin:40px; */
    padding:8px;
}
.raceName{
    background-color:#0028ff;
    border-style:groove;
}
.raceTitle{
    background-color:#0028ff;
    margin-top:0px;
}
.loneRace{
    border-style:groove;
    border-color:#FFD700;
    background-color:#3e00ff;
}
.raceDesc{
    background-color:#0092ff;
    /* border-style:dashed; */
}
.raceProList{
    text-align:center;
    background-color:#0092ff;
    border-radius:15px;
    border-style:groove;
}
.raceProList p:not(.raceTitle){
    /* width:80%; */
    display:inline-block;
    text-align:center;
    background-color:#159e00;
    border-style:groove;
    box-shadow:3px 2px black;
    margin:0px 5px 20px;
}
#raceSize{
    text-align:center;
    background-color:#0092ff;
    border-radius:15px;
    border-style:groove;
    margin-bottom:15px;
}
#raceOptionsParent{
    margin-top:15px;
    border-radius:15px;
    border-style:groove;
    background-color:#0092ff;
}
#raceOptionsList{
    display:flex;
    justify-content:center;
}
.raceOption{
    box-shadow:3px 2px black;
    width:40%;
    background-color:#159e00;
    border-style:groove;
}
#raceInfoOuter{
    display:flex;
    justify-content:center;
    width:90%;
}
.racialTraitsParent{
    background-color:#0092ff;
    border-radius:15px;
    border-style:groove;
    margin-top:15px;
}
.racialTraits{
    display:flex;
    justify-content:center;
    
}
.innerMapProRaceDiv{
    background-color:#159e00;
    border-style:groove;
    border-radius:15px;
    box-shadow:3px 2px black;
    width:40%;
}

/* CLASS */
#classFeatures{
    width:95%;
    display:flex;
    justify-content:center;
    /* overflow:auto; */
    box-shadow:none;
    border-style:dashed;
    outline:solid;
    outline-offset:2px;
    margin-bottom:20px;
}
/* #classFeatures p{
    border-style:solid;
} */
.feature{
    /* padding:15px; */
    border-style:inset;
    border-radius:15px;
    margin:10px;
    background-color:#0092FF;
}
.feature_title{
    background-color:#0028ff;
    margin:0px;
    padding:8px;
    border-radius:15px;
}
.feature strong{

}
#skillsInner{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}
#skillsInner p{
    width:200px;
    margin:10px;
}
.proficiency_choice{
    display:flex;
    /* flex-direction:column;  */
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}
.primary_pro{
    background-color:#0092ff;
    border-style:groove;
    margin:10px;
    border-radius:15px;
    padding:5px;
    padding-top:10px;
    /* text-align:center; */
    display:flex;
    flex-direction:column;
    align-items:center;
    width:90%;
}
.class_title{
    background-color:#0028ff;
    /* margin-top:0px; */
    margin:0px;
    padding:10px;
    border-radius:15px;
    border-style:groove;
}
.classChoices{
    border-style:groove;
    width:50%;
    border-radius:15px;
    margin:5px;
    justify-content:center;
    background-color:#159e00;
    display:flex;
}
.proficiencies{
    background-color:#0092ff;
    border-style:groove;
    margin:10px;
    border-radius:15px;
    padding:5px;
    padding-top:10px;
    /* text-align:center; */
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /* align-items:center; */
    height:auto;
}
.classProficiencies{
    background-color:#159e00;
    /* margin-top:0px; */
    margin:5px;
    padding:10px;
    border-radius:15px;
    border-style:groove;
    /* width:100px; */
}
#proficiencies_parent{
    background-color:#0092ff;
    border-style:groove;
    margin:10px;
    border-radius:15px;
    padding:5px;
    padding-top:10px;
    /* text-align:center; */
    display:flex;
    flex-direction:column;
    align-items:center;
    /* width:50%; */
    /* flex:1 1 50%; */
}
.primary_pro, .classChoices{
    box-sizing:border-box;
    flex:1 1 50%;
}
#classInfo{
    display:flex;
    flex-wrap:wrap;
    /* width:95%; */

}
#proInfo{
    /* width:40%; */
    /* overflow:auto; */
    /* padding:15px; */
    /* align-items:stretch; */
    box-shadow:none;
    border-style:dashed;
    outline:solid;
    margin-top:10px;
    outline-offset:2px;
}
#classChoice2{
    flex:1 1 100%;
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    width:50%;
}
#class > div{
    width:95%;
    /* color:blue; */
    /* position:absolute; */
}

/* STATS/COMBAT */
#statsAndSuch{
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
}
.str,
.dex,
.con,
.int,
.wis,
.cha{
    border-radius:15px;
    border-style:inset;
    padding:3px;
}
.str{
    background-color:#FF6347;
    color:white;
}
.str strong{
    color:#5f4fff;
}
.dex{
    background-color:#159e00;
    color:white;
}
.dex strong{
    color:#FFD700;
}
.con{
    background-color:#F0A500;
}
.con strong{
    color:#FFF00F;
}
.int{
    background-color:#00CED1;
    color:black;
}
.int strong{
    color:#FFFF00;
}
.wis{
    background-color:#9370DB;
}
.cha{
    background-color:#FFD700;
    color:black;
}
.cha strong{
    color:#003FaF;
}
.statLabel{
    border-style:hidden;
    padding-right:5px;
}

/* SPELLCASTING */
#spellcasting{
    
}
.spell_info_item{
    background-color:#0092ff;
    border-style:groove;
    /* border-bottom:dashed; */
    border-radius:15px;
    margin:10px;
}
.spell_info_item p{
    margin: 15px;
}
.spell_title{
    background-color:#0028ff;
    border-radius:15px;
    padding:10px;
}
#spell_slots{
    background-color:#0028ff;
    padding:10px;
    margin:5px;
    border-radius:15px;
    border-style:inset;
}
#level_1_spells_section{
    background-color:#0092FF;
    border-radius:15px;
    border-style:inset;
    margin:10px;
}
#level_1_spells_section h3{
    background-color:#0028ff;
    padding:10px;
    border-radius:15px;
    margin:0px;
}
#cantrip_section{
    background-color:#0092FF;
    border-radius:15px;
    border-style:inset;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:10px;
}
#cantrip_section h3{
    background-color:#0028ff;
    padding:10px;
    border-radius:15px;
    margin:0px;
}
.spell{
    background-color:#159e00;
    /* margin-top:0px; */
    margin:5px;
    padding:10px;
    border-radius:15px;
    border-style:groove;
    width:50%;
}
#spell_sections{
    justify-content:center;
}
#cantrips{
    display:flex;
    justify-content:center;
}
#spells{
    display:flex;
    justify-content:center;
}

/* EQUIP */
.equip_options{
    background-color:#0092FF;
    border-radius:15px;
    border-style:inset;
    margin:10px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.equip_title{
    background-color:#0028ff;
    padding:10px;
    border-radius:15px;
    margin:0px;
    color:#FFD700;
}
.equip_option{
    background-color:#159e00;
    /* margin-top:0px; */
    margin:5px;
    padding:10px;
    border-radius:15px;
    border-style:groove;
    width:50%;
}
.equip_option_parent{
    justify-content:center;
    display:flex;
    /* width:200px; */
    /* flex-direction:column; */
}

/* CHARACTER LIST */
.stats_grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    border-style:inset;
    width:30%;
}
.stat{
    padding:5px;
}
.char_footnote{
    width:550px;
    color:white;
    background-color:#2E2E2E;
    border-style:solid
}